body {
  font-family: "Roboto", sans-serif;
  background: aliceblue;
}

.img {
  background-image: url("./assests/Weather_Monochromatic.png");
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
}

.motto {
  font-family: "Indie Flower", cursive;
  font-size: 68pt;
}

.text {
  font-size: 28pt;
  font-family: "Courgette", cursive;
}

.btn {
  margin-top: 30px;
}

/* data */

.outer {
  margin-top: 100px;
  border-radius: 50px;
  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-bottom: 20px;
  padding: 20px 0;
  padding-bottom: 40px;
}


.icon {
  width: 100px;
  height: 100px;
}

.name {
  font-size: 20pt;
}

.temperature {
  font-size: 54pt;
  width: 250px;
}

.des {
  font-size: 20pt;
}

.des_icon {
  height: 50px;
  width: 50px;
}

.det-text {
  font-size: 16pt;
  width: 210px;
  color: rgba(0, 0, 0, 0.6);
}

.error {
  font-size: 18pt;
  line-height: 50px;
  border-radius: 50px;
}

.btn-close{
  margin-right: 20px;
}
